.requirements__secondary,
.requirements__text {
    max-width: 600px;
    text-align: center;
}

.requirements__secondary {
    font-size: 36px;
    line-height: 43px;

    color: #45525B;
    margin-bottom: 14px;
}

.requirements__text{
    font-size: 18px;
    line-height: 22px;
    
    color: #6F7278;
}

