.menu {
    font-size: 15px;
    line-height: 16px;
    
    &__option {
        display: inline-block;
        text-decoration: none;
        color: #444444;
        text-shadow: none;
        
        padding-top: 25px;
        padding-bottom: 25px;

        transition-property: color, text-shadow;
        transition-duration: 250ms, 250ms;
        transition-timing-function: ease-in, ease-in;
        
        &:not(:last-child) {
            margin-right: 30px;
        }

        &:hover, &:focus {
            color: #000000;
            text-shadow: 0px 0px 10px rgba(66, 68, 90, 1);
        }
    }
}
